.container {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}
.row {
  display: flex;
}
.box {
  background-color: #ffce9e;
  width: 100px;
  height: 100px;
}
.row:nth-child(odd) > .box:nth-child(even) {
  background-color: #d18a46;
}

.row:nth-child(even) > .box:nth-child(odd) {
  background-color: #d18a46;
}

